# /homework/flask_app/.env

SMTP_USER = "ПОЧТА ОТПРАВИТЕЛЯ"
SMTP_HOST = "smtp.yandex.com"
SMTP_PASSWORD = "ПАРОЛЬ ОТ ПОЧТЫ ОТПРАВИТЕЛЯ / СПЕЦИАЛЬНЫЙ ТОКЕН ПРИЛОЖЕНИЯ"  # string
SMTP_PORT = 587  # integer for example 587  | 465 если клиент начинает соединение с SLL
broker_url = 'redis://localhost:6379/0'  # default
result_backend = 'redis://localhost:6379/0'  # default